<div class="spiner">
    <div class="row">          
        <div id="loader" ng-show="isLoading">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div> 
        </div>   
    </div>
    <div class="row">          
        <div id="loader" ng-show="isLoadingPorVencer">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div> 
        </div>   
    </div>
    <div class="row">          
        <div id="loader" ng-show="isLoadingPorPagar">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div> 
        </div>   
    </div>
</div> 